@import url('https://fonts.googleapis.com/css?family=Tajawal');

body {
  font-family: 'Tajawal', sans-serif;
}

.mid-btn {
  width: 6em;
}

.big-btn {
  width: 10em;
  text-shadow: 0 1px 1px #3E7387;
}

.btn {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.jumbotron {
  background-color: #C5DCE4;
  padding: 2em;
}

.title_jumbotron {
  color: #3E7387;
  text-shadow: 2px 2px white;
}

.pattern-title, .language-title {
  color: #3E7387;
}

.lead {
  text-shadow: 1px 1px white;
  font-size: 16px;
}

#body a {
  color: #608F9E;
  font-weight: bold;
}

#body a:hover {
  color: #3D7486;
  text-decoration: none;
  font-weight: lighter;
  text-shadow: 0.5px 0.5px #235B6D;
}

.error {
  margin: 2em;
  text-align: center;
  color: #FF0000;
}
