@import url('https://fonts.googleapis.com/css?family=Tajawal');

body {
  font-family: 'Tajawal', sans-serif;
}

.jumbotron {
  background-color: #C5DCE4;
}

.title_jumbotron {
  color: #3E7387;
  text-shadow: 2px 2px white;
}
