<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div *ngIf="loading == false" class="languages">
  <span *ngIf="loadingError == false; else errorTemplate">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <button class="btn btn-outline-dark float-right big-btn" routerLink="/addLanguage">Add Language</button>
      <h2 class="display-3 title_jumbotron">Pattern Languages</h2>

      <p class="lead">Hello! Here you can edit already existing languages and add new ones.</p>
    </div>
  </div>

  <div class="container">
    <div class="row" *ngIf="languages.length; else no_languages">
      <div class="col-md-3 col-sm-6 col-12" *ngFor="let language of languages">
        <div class="language">
          <h2><a routerLink="/language/{{language.id}}">{{language.name}}</a></h2>
        </div>
      </div>
    </div>
    <ng-template #no_languages>No languages yet.</ng-template>
  </div>
  </span>

  <ng-template #errorTemplate>
    <h2 class="error">
      {{ this.error }}
    </h2>
  </ng-template>
</div>
