<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<span *ngIf="loading == false">
  <div class="language-detail" *ngIf="loadingError==false; else errorTemplate">
    <span class="float-right">
      <button class="btn btn-outline-dark mid-btn edit" routerLink="/language/{{language.id}}/edit">Edit</button>
      <button class="btn btn-outline-dark mid-btn go-back" (click)="goBack()">Go back</button>
    </span>
    <h1 class="display-4 pattern-title">{{ language.name }}</h1>
    <hr>
    <h3 class="subtitle">Language patterns:</h3>
    <span *ngIf="language.patterns.length; else no_patterns">
      <ul *ngFor="let pattern of language.patterns">
        <li>
          <a routerLink="/pattern/{{pattern.id}}">{{pattern.name}}</a>
        </li>
      </ul>
    </span>
    <ng-template #no_patterns>No patterns yet.</ng-template>
  </div>

  <ng-template #errorTemplate>
    <h2 class="error">
      {{ this.error }}
    </h2>
  </ng-template>
</span>
