<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<span *ngIf="loading == false">
  <div class="revisions" *ngIf="loadingError == false; else errorTemplate">
    <button class="btn btn-outline-dark go-back mid-btn float-right" (click)="goBack()">Go back</button>
    <h1 class="pattern-title">Pattern revisions</h1>
    <ul class="list-group" *ngFor="let revision of revisions">
      <li class="list-group-item">
        <span class="revision-date float-right">{{revision.date}} GMT</span>
        <a routerLink="/pattern/{{pattern_id}}/history/{{revision.sha}}">{{revision.message}}</a>
      </li>
    </ul>
  </div>

  <ng-template #errorTemplate>
    <h2 class="error">
      {{ this.error }}
    </h2>
  </ng-template>
</span>
